.input {
    color: #37FF8B;
    border: 2px solid #37FF8B;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    font-size: 15px;
    background: transparent;
    max-width: 190px;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #37FF8B inset;
   }
   
/* === removing default button style ===*/
.button-search {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  /* button styling */
  .button-search {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text-search {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button-search:hover .hover-text-search {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }