.NavBar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.478);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.NavBar .logoNavBar{
    width: 60px;
}

/* === removing default button style ===*/
.button-nav {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button-nav {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text-nav {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button-nav:hover .hover-text-nav {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }